body {
    background-color:#03112E;
}

.headerMsg {
    top:25%;
    left:33%;
    position:absolute;
    text-align:center;
    background:#03112E;
}

#welcome {
    color:#C4E562;
}

#login {
    color:#C4E562;
}

.btn-block {
    margin-top: 5px;
}

.btn-google {
    color:#fff;
    background-color:#357ebd;
    border-color:rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 0;
    margin-top:15%;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
