
      <br>

      <div class="row">
        <div class="col-md-4 text-center">
          <div class="btn-group">
            <!-- Need to link to user preferences -->
            <md-checkbox class="btn btn-default md-primary" ng-model="event_Suggestions" ng-change="eventSuggestions()">Event Suggestions</md-checkbox>

            <!-- Need to link to user preferences -->
            <button class="btn btn-primary md-primary dropdown-toggle" data-toggle="dropdown">
                  Event Filter <span class="caret"</span>
            </button>
            <ul class="dropdown-menu" onclick="event.stopPropagation();">
              <li ng-repeat="x in orgList">
                <md-checkbox class="md-primary" ng-model="x.prefCk">
                    {{x.org}}
                </md-checkbox>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="btn-group">
            <button
              class="btn btn-primary"
              mwl-date-modifier
              date="vm.viewDate"
              decrement="vm.calendarView">
              Previous
            </button>
            <button
              class="btn btn-default"
              mwl-date-modifier
              date="vm.viewDate"
              set-to-today>
              Today
            </button>
            <button
              class="btn btn-primary"
              mwl-date-modifier
              date="vm.viewDate"
              increment="vm.calendarView">
              Next
            </button>
          </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-4 text-center">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Year</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Day</label>
          </div>
        </div>

      </div>
      <br>

      <div class="col-md-2 text-center">
        <button class="btn btn-primary md-primary" ng-click="addToCalendar()">Update Calendar</button>
      </div>

      <!-- data/dummy_class -->

      <br>
