
      <br>
      <div class="row">

        <div class="col-md-4 text-center">
          <div class="btn-group">
            <md-menu-bar class="eventBar">
                <!-- Need to link to user preferences -->
                <md-menu>
                    <md-checkbox class="btn btn-default md-primary">EVENT SUGGESTIONS</md-checkbox>
                 </md-menu>

                 <!-- Need to link to user preferences -->
                 <md-menu>
                    <md-button class="btn btn-primary md-primary" ng-click="$mdOpenMenu($event)">
                          EVENT FILTER</md-button>
                    <md-menu-content>
                          <md-menu-item ng-repeat="item in ['FITNESS CLASSES', 'ASI EVENTS', 'INTERNATIONAL STUDENT CLUBS']">
                             <md-checkbox class="md-primary">
                                {{item}}
                             </md-checkbox>
                          </md-menu-item>
                    </md-menu-content>
                 </md-menu>
            </md-menu-bar>
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="btn-group">
            <button
              class="btn btn-primary"
              mwl-date-modifier
              date="vm.viewDate"
              decrement="vm.calendarView">
              Previous
            </button>
            <button
              class="btn btn-default"
              mwl-date-modifier
              date="vm.viewDate"
              set-to-today>
              Today
            </button>
            <button
              class="btn btn-primary"
              mwl-date-modifier
              date="vm.viewDate"
              increment="vm.calendarView">
              Next
            </button>
          </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-4 text-center">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Year</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Day</label>
          </div>
        </div>

      </div>
      <br>
