<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>


    <!-- BootStrap scripts -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>



    <!-- Angular scripts -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script type="text/javascript" src="/assets/scripts/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="/assets/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/assets/app/main.controller.js" th:src="@{/app/main.controller.js}"></script>
    <script type="text/javascript" src="/assets/app/user.controller.js" th:src="@{/app/main.controller.js}"></script>

 <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>



    <!-- Style sheets -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/821313b0f0.js"></script>

</head>
<body ng-app="myApp" ng-controller="mainController">

    <md-toolbar class="md-warn" color="primary">
         <div class="md-toolbar-tools" ng-controller="userInfo">
            <h2>Welcome {{ getUser.name }}</h2>
            <span flex></span>
            <div class="dropdown" layout="row" layout-wrap="" layout-margin="" layout-align="right" ng-controller="userInfo">
                <img src="assets/images/userSettings.png" ng-click="showTabDialog($event)" class="menuBtn">
                <md-menu>
                    <img src="{{ getUser.picture }}" class="img-circle" ng-click="$mdOpenMenu()">
                    <md-menu-content>

                    <!-- Empty Button for now.  Will have to connect with backend to log out  -->
                        <md-button ng-click="logout()">
                            Log Out
                        </md-button>


                    </md-menu-content>
                </md-menu>
            </div>
         </div>
    </md-toolbar>

        <md-content flex layout-fill>
<!--            <div class="dropdown">
                <input type="image" src="assets/images/userMenu.jpg" onclick="myFunction()" class="dropbtn"/>
                <div id="myDropdown" class="dropdown-content">
                    <h3>Event Preferences:</h3>
                    <form>
                        <input type="checkbox" name="event" value="fitness"> Fitness classes <br>
                        <input type="checkbox" name="event" value="ASI"> ASI Events <br>
                        <input type="checkbox" name="event" value="international"> International Student Clubs <br>
                        <input type="submit" value="Search Club From Facebook Pages"><br><br>
                        <p><b>Insert Class Schedule</b></p>
                        <input type="text" name="classId" value="Input Class ID">
                        <input type="submit" value="Input class"><br><br>
                        <p><b>Insert Work Schedule/Others</b></p>
                        <input type="date" name="inputdate">
                        <input type="submit" value="Add"> <br><br>
                        <input type="submit" value="SAVE">
                    </form>
                </div>
            </div> -->
            <section class="eventBar">
            
                <md-subheader-inner class="md-primary">
                    <md-checkbox class="md-primary md-checkbox">EVENT SUGGESTIONS</md-checkbox>
                    <md-button class="md-primary md-button" ng-click="showFilterTabDialog($event)">
                          <md-icon class="fa-icon" md-font-icon="fa fa-filter fa-lg" aria-hidden="true" layout="row" layout-wrap="" layout-margin="" layout-align="left"></md-icon>
                          EVENT FILTER
                    </md-button>
                </md-subheader-inner>
                
                <!-- <div class="eventBar">  -->
                    
                    <!-- Need to change icon on click -->
                    <!-- 
                    <div class="eventBtn">
                       <i class="fa fa-check-square-o fa-3x" aria-hidden="true" layout="row" layout-wrap="" layout-margin="" layout-align="left">&nbsp; Event Suggestion</i>
                    </div>
                    
                    <div class="eventBtn" ng-click="showFilterTabDialog($event)">
                       <i class="fa fa-filter fa-3x" aria-hidden="true" layout="row" layout-wrap="" layout-margin="" layout-align="left">&nbsp; Event Filter</i>
                    </div>
                    
                     -->
                    
                    <!-- 
                    <input type="image" src="assets/images/eventFilter.jpg" onclick="eventFilterFunction()" class="dropbtn"/>
                    <div id="eventFilter" class="dropdown-content">
                        <h4>Filtering events from Settings -> Event Preferences...</h4>
                    </div>
                     -->
                     
                <!-- </div>  -->
                
            </section>
        </md-content>

    <script type="text/ng-template" id="tabDialog.tmpl.html">
        <md-dialog aria-label="userSettings" class="prefDialog" height="100px">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>User Settings</h2>
                        <span flex></span>
                        <!-- 
                        <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                        -->
                    </div>
                </md-toolbar>

                <md-dialog-content style="max-width:800px;max-height:810px;" class="md-dialog-content">
                    <md-tabs md-dynamic-height md-border-bottom>

                        <!-- TAB ONE -->
                        <md-tab label="Event Pref">
                            <md-content class="md-padding">
                                <h4 class="md-display-1">Event Preferences</h4>

                                <md-checkbox ng-model="fitness" ng-true-value="1" ng-false-value="0">
                                    Fitness Classes
                                </md-checkbox>
                                </br>
                                <md-checkbox ng-model="asi" ng-true-value="1" ng-false-value="0">
                                    ASI Events
                                </md-checkbox>
                                </br>
                                <md-checkbox ng-model="international" ng-true-value="1" ng-false-value="0">
                                    International Student Clubs
                                </md-checkbox>
                                </br>
                                <md-button class="md-primary md-raised">
                                    Search Club From Facebook pages
                                </md-button>
                                </br></br>                   
                                <md-input-container>
                                    <label>Input Class ID</label>
                                    <input type="text" ng-model="classId">
                                </md-input-container>

                                <md-button class="md-primary md-raised">
                                   Add Class
                                </md-button>

                                <br><br>
                <!--             <md-button ng-click="answer('Save')" style="margin-right:20px;" >
                                Close Window
                            </md-button> -->

                            </md-content>
                        </md-tab>

                         <!-- TAB TWO -->
                        <md-tab label="Insert Work Schedule/Others">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab Two</h1>

                                <p>Test1</p>

                            </md-content>
                    </md-tabs>

                </md-dialog-content>

                <md-dialog-actions layout="row">
                    
                    <md-button ng-click="answer('Save')" style="margin-right:20px;" >
                        Close Window
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
    
    <!-- Need to link tabs dynamically to Event Preferences in User Settings -->
    <script type="text/ng-template" id="filterTabDialog.tmpl.html">
        <md-dialog aria-label="eventFilter" class="prefDialog" height="100px">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Events to Filter</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>

                <md-dialog-content style="max-width:800px;max-height:810px;" class="md-dialog-content">
                    <md-tabs md-dynamic-height md-border-bottom>

                        <!-- TAB ONE -->
                        <md-tab label="Fitness Classes">
                            <md-content class="md-padding">
                                <h4 class="md-display-1">Select events to include:</h4>

                                <md-checkbox ng-model="fitness" ng-true-value="1" ng-false-value="0">
                                    Fitness Class 1
                                </md-checkbox>
                                </br>
                                <md-checkbox ng-model="asi" ng-true-value="1" ng-false-value="0">
                                    Fitness Class 2
                                </md-checkbox>
                                </br>
                                <md-checkbox ng-model="international" ng-true-value="1" ng-false-value="0">
                                    Fitness Class 3
                                </md-checkbox>
                                </br>                              
                            </md-content>
                        </md-tab>

						<!-- TAB TWO -->
                        <md-tab label="ASI Events">
                            <md-content class="md-padding">
                                <h4 class="md-display-1">Select events to include:</h4>

                                <md-checkbox ng-model="fitness" ng-true-value="1" ng-false-value="0">
                                    ASI Event 1
                                </md-checkbox>
                                </br>
                                <md-checkbox ng-model="asi" ng-true-value="1" ng-false-value="0">
                                    ASI Event 2
                                </md-checkbox>
                                </br>
                                <md-checkbox ng-model="international" ng-true-value="1" ng-false-value="0">
                                    ASI Event 3
                                </md-checkbox>
                                </br>                                
                            </md-content>
                        </md-tab>

						<!-- TAB THREE -->
                        <md-tab label="International Student Club Events">
                            <md-content class="md-padding">
                                <h4 class="md-display-1">Select events to include:</h4>

                                <md-checkbox ng-model="fitness" ng-true-value="1" ng-false-value="0">
                                    International Student Club Event 1
                                </md-checkbox>
                                </br>
                                <md-checkbox ng-model="asi" ng-true-value="1" ng-false-value="0">
                                    International Student Club Event 2
                                </md-checkbox>
                                </br>
                                <md-checkbox ng-model="international" ng-true-value="1" ng-false-value="0">
                                    International Student Club Event 3
                                </md-checkbox>
                                </br>                               
                            </md-content>
                        </md-tab>

                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <md-button ng-click="answer('Save')" style="margin-right:20px;" >
                        Close Window
                    </md-button>
                </md-dialog-actions>

            </form>
        </md-dialog>
    </script>

<!-- 
    <script type="text/javascript">
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if(!event.target.matches('.dropbtn')){
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for(i = 0; i < dropdowns.length; i++){
                    var openDropdown = dropdowns[i];
                }
            }
        }
        
        function eventFilterFunction() {
            document.getElementById("eventFilter").classList.toggle("show");
        }
    </script>
 -->
 
</body>
</html>