    <script type="text/javascript" src="/assets/app/main.controller.js" th:src="@{/app/main.controller.js}"></script>

    <md-dialog aria-label="userSettings" class="prefDialog" height="100px" ng-controller="mainController">
        <!-- <form> -->
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>User Settings</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                  </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content style="max-width:800px;max-height:810px;" class="md-dialog-content">
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- TAB ONE -->
                    <md-tab label="Event Pref">
                        <md-content class="md-padding">
                            <h4 class="md-display-1">Event Preferences</h4>
                            <ul>
                              <li ng-repeat="x in orgList">
                                <md-checkbox ng-model="x.prefCk">
                                  {{x.org}}
                                </md-checkbox>
                              </li>
                            </ul>

                            </br>
                            <md-button class="md-primary md-raised" ng-click="saveEventPref()">
                                Save
                            </md-button>

                            {{ status }}

                            <pre>{{ eventOrgList }}</pre>
                            </br></br>

                            <md-input-container ng-controller="mainController">
                                <label>Input Class ID</label>
                                <input type="text" ng-model="classId" name="classId" id="ajax" list="json-datalist">
                                <datalist id="json-datalist"></datalist>
                            </md-input-container>

                            <md-button class="md-primary md-raised" ng-click="addClass()">
                               Add Class
                            </md-button>

                            <br>
                            <label>Current Classes</label>

                            <form style="max-width:400px;max-height:810px;">
                              <md-checkbox ng-repeat="x in classList" ng-model="x.selected">
                                  {{x.name}}
                              </md-checkbox>
                            </form>

                            <md-button class="md-primary md-raised" ng-click="deleteClass()">
                               Delete
                            </md-button>

                            <br><br>

            <!--             <md-button ng-click="answer('Save')" style="margin-right:20px;" >
                            Close Window
                        </md-button> -->

                        </md-content>
                    </md-tab>

                     <!-- TAB TWO -->
                    <md-tab label="Add Sched.">
                        <md-content class="md-padding">
                            <h4 class="md-display-1">Additional Input</h4>

                            <md-input-container class="md-block">
                                <label>Title</label>
                                <input type="text" ng-model="usrDialog.sName2">
                            </md-input-container>

                               <!-- <span class="md-padding"></span>
                                    <md-datepicker ng-model="usrDialog.sTime2.myDate" md-placeholder="Enter date"></md-datepicker> -->

                                          <md-input-container>
                                            <label>Start</label>
                                            <input type="datetime-local" ng-model="usrDialog.sTime2.startTime" aria-label="startTime">
                                          </md-input-container>
                                          <md-input-container>
                                            <label>End</label>
                                            <input type="datetime-local" ng-model="usrDialog.sTime2.endTime" aria-label="endTime">
                                          </md-input-container>

                                        <!-- <td><md-input-container><input type="time"></md-input-container></td> -->
                                    <div>
                                    <!-- <md-checkbox ng-checked="sRepeat" ng-click="sRepeat = !sRepeat">
                                        Repeat
                                    </md-checkbox> -->
                                    Repeat On:<br>
                                    <table>
                                        <tr >
                                            <td ng-repeat="day in usrDialog.days2">{{day.name}} <md-checkbox md-no-ink aria-label="Checkbox No Ink" class=" md-primary" ng-checked="day.ck" ng-click="day.ck = !day.ck"></md-checkbox></td>
                                        </tr>
                                    </table>
                                    <!-- <div>
                                      {{ usrDialog.days2 }}
                                    </div> -->
                                </div>
                                <br>
                                <div>

                                    <md-button ng-click="addBtn()" style="margin-right:20px;" >
                                        Add
                                    </md-button>
                                </div>
                        </md-content>
                     </md-tab>
                </md-tabs>

            </md-dialog-content>


            <md-dialog-actions layout="row">

<!--                 <md-button ng-click="closeWindow()" style="margin-right:20px;" >
                    Close Window
                </md-button> -->
            </md-dialog-actions>
        <!-- </form> -->
    </md-dialog>
