    <script type="text/javascript" src="/assets/app/main.controller.js" th:src="@{/app/main.controller.js}"></script>

    <md-dialog aria-label="userSettings" class="prefDialog" height="100px" ng-controller="mainController">
        <!-- <form> -->
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>User Settings</h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content style="max-width:800px;max-height:810px;" class="md-dialog-content">
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- TAB ONE -->
                    <md-tab label="Event Pref">
                        <md-content class="md-padding">
                            <h4 class="md-display-1">Event Preferences</h4>
                            <form name="eventFilterForm" ng-submit="eventFilter()">
                              <md-checkbox ng-model="usrDialog.eventPref2.fitness">
                                  Fitness Classes
                              </md-checkbox>
                              </br>
                              <md-checkbox ng-model="usrDialog.eventPref2.asi">
                                  ASI Events
                              </md-checkbox>
                              </br>
                              <md-checkbox ng-model="usrDialog.eventPref2.international">
                                  International Student Clubs
                              </md-checkbox>

                              </br>
                              <md-button class="md-primary md-raised" type="submit">
                                  Search Club From Facebook pages
                              </md-button>
                            </form>

                            </br></br>

                            <md-input-container ng-controller="mainController">
                                <label>Input Class ID</label>
                                <input type="text" ng-model="classId" name="classId" id="ajax" list="json-datalist">
                                <datalist id="json-datalist"></datalist>
                            </md-input-container>

                            <md-button class="md-primary md-raised" ng-click="addClass()">
                               Add Class
                            </md-button>
                            
                            <br><br>

            <!--             <md-button ng-click="answer('Save')" style="margin-right:20px;" >
                            Close Window
                        </md-button> -->

                        </md-content>
                    </md-tab>

                     <!-- TAB TWO -->
                    <md-tab label="Add Sched.">
                        <md-content class="md-padding">
                            <h4 class="md-display-1">Additional Input</h4>

                            <md-input-container>
                                <label>Title</label>
                                <input type="text" ng-model="usrDialog.sName2">
                            </md-input-container>

                            <!-- {{ usrDialog.sName2 }} -->

                               <span class="md-padding"></span>
                                    <md-datepicker ng-model="usrDialog.sTime2.myDate" md-placeholder="Enter date"></md-datepicker>

                                    <table>
                                      <tr>
                                        <td>Start</td>
                                        <td>End</td>
                                      </tr>
                                      <tr>
                                        <td><md-input-container><input type="time" ng-model="usrDialog.sTime2.startTime" aria-label="startTime"></md-input-container></td>

                                        <td><md-input-container><input type="time" ng-model="usrDialog.sTime2.endTime" aria-label="endTime"></md-input-container></td>

                                        <!-- <td><md-input-container><input type="time"></md-input-container></td> -->
                                      </tr>
                                    </table>
                                    <div>
                                    <!-- <md-checkbox ng-checked="sRepeat" ng-click="sRepeat = !sRepeat">
                                        Repeat
                                    </md-checkbox> -->

                                    {{ momentStartTime }} <br>

                                    {{ momentEndTime }} <br>

                                    {{ momentDate }}

                                    Repeat On:<br>
                                    <table>
                                        <tr >
                                            <td ng-repeat="day in usrDialog.days2">{{day.name}} <md-checkbox md-no-ink aria-label="Checkbox No Ink" class=" md-primary" ng-checked="day.ck" ng-click="day.ck = !day.ck"></md-checkbox></td>
                                        </tr>
                                    </table>
                                    <!-- <div>
                                      {{ usrDialog.days2 }}
                                    </div> -->
                                </div>
                                <br>
                                <div>

                                    <md-button ng-click="addBtn()" style="margin-right:20px;" >
                                        Add
                                    </md-button>
                                </div>
                        </md-content>
                     </md-tab>
                </md-tabs>

            </md-dialog-content>


            <md-dialog-actions layout="row">

<!--                 <md-button ng-click="closeWindow()" style="margin-right:20px;" >
                    Close Window
                </md-button> -->
            </md-dialog-actions>
        <!-- </form> -->
    </md-dialog>
