    <md-dialog aria-label="userSettings" class="prefDialog" height="100px">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>User Settings</h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content style="max-width:800px;max-height:810px;" class="md-dialog-content">
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- TAB ONE -->
                    <md-tab label="Event Pref">
                        <md-content class="md-padding">
                            <h4 class="md-display-1">Event Preferences</h4>

                            <md-checkbox ng-model="eventPref.fitness">
                                Fitness Classes
                            </md-checkbox>
                            </br>
                            <md-checkbox ng-model="eventPref.asi">
                                ASI Events
                            </md-checkbox>
                            </br>
                            <md-checkbox ng-model="eventPref.international">
                                International Student Clubs
                            </md-checkbox>

                            </br>
                            <md-button class="md-primary md-raised" ng-click="eventFilter()">
                                Search Club From Facebook pages
                            </md-button>
                            </br></br>

                            <md-input-container>
                                <label>Input Class ID</label>
                                <input type="text" ng-model="classId">
                            </md-input-container>

                            <md-button class="md-primary md-raised">
                               Add Class
                            </md-button>

                            <br><br>
            <!--             <md-button ng-click="answer('Save')" style="margin-right:20px;" >
                            Close Window
                        </md-button> -->

                        </md-content>
                    </md-tab>

                     <!-- TAB TWO -->
                    <md-tab label="Add Sched.">
                        <md-content class="md-padding">
                            <h4 class="md-display-1">Additional Input</h4>

                            <md-input-container>
                                <label>Title</label>
                                <input type="text" ng-model="sName">
                            </md-input-container>

                               <span class="md-padding"></span>
                                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>

                                    <table>
                                      <tr>
                                        <td>Start</td>
                                        <td>End</td>
                                      </tr>
                                      <tr>
                                        <td><md-input-container><input type="time" ng-model="sTime" placeholder="HH:mm" ></md-input-container></td>
                                        <!-- <td><md-input-container><input type="time"></md-input-container></td> -->
                                      </tr>
                                    </table>
                                    <div>

                                    <!-- <md-checkbox ng-checked="sRepeat" ng-click="sRepeat = !sRepeat">
                                        Repeat
                                    </md-checkbox> -->

                                    Repeat On:
                                    <br>
                                    <table>
                                        <tr >
                                            <td ng-repeat="day in days">{{day.name}} <md-checkbox md-no-ink aria-label="Checkbox No Ink" class=" md-primary" ng-checked="day.ck" ng-click="day.ck = !day.ck"></md-checkbox></td>
                                        </tr>
                                    </table>
                                </div>
                                <br>
                                <div>

                                    <md-button ng-click="closeWindow()" style="margin-right:20px;" >
                                        Add
                                    </md-button>
                                </div>
                        </md-content>


                     </md-tab>
                </md-tabs>

            </md-dialog-content>


            <md-dialog-actions layout="row">

<!--                 <md-button ng-click="closeWindow()" style="margin-right:20px;" >
                    Close Window
                </md-button> -->
            </md-dialog-actions>
        </form>
    </md-dialog>
